In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df_books = pd.read_csv('data/books.csv') #importing in the csv
df_book_tags = pd.read_csv('data/book_tags.csv')
df_ratings = pd.read_csv('data/ratings.csv')
df_tags = pd.read_csv('data/tags.csv')

In [4]:
df_books.head()

,id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [5]:
df_book_tags.head()

   goodreads_book_id  tag_id   count
0                  1   30574  167697
1                  1   11305   37174
2                  1   11557   34173
3                  1    8717   12986
4                  1   33114   12716

In [6]:
df_ratings.head()

   book_id  user_id  rating
0        1      314       5
1        1      439       3
2        1      588       5
3        1     1169       4
4        1     1185       4

In [7]:
df_tags.head()

   tag_id tag_name
0       0        -
1       1     --1-
2       2    --10-
3       3    --12-
4       4   --122-

In [8]:
df_tags_books = df_book_tags.merge(df_tags, left_on='tag_id', right_on='tag_id')

In [12]:
df_rating_tags = df_tags_books.merge(df_ratings, left_on='goodreads_book_id', right_on='book_id')

In [13]:
df_rating_tags.head()

   goodreads_book_id  tag_id   count tag_name  book_id  user_id  rating
0                  1   30574  167697  to-read        1      314       5
1                  1   30574  167697  to-read        1      439       3
2                  1   30574  167697  to-read        1      588       5
3                  1   30574  167697  to-read        1     1169       4
4                  1   30574  167697  to-read        1     1185       4

In [55]:
df_user_tags = df_rating_tags[["tag_name","user_id", 'rating']].sort_values(by=['tag_name','user_id'])

In [73]:
use_less_tag = ['-', 'to-read','--12-','--33-','--62-','-d-c--', 'owned',
               'books-i-own','currently-reading','i-own','ebook','kindle',
               'owned-books','my-library','to-buy', 'my-books', 'own-it',
               'wish-list','book-club']
mask1 = df_user_tags['tag_name'].isin(use_less_tag)
df_user_tags = df_user_tags[~mask1]

In [74]:
df_user_tags.groupby(['tag_name'] ).count().sort_values('rating', ascending=False)

                            user_id  rating
tag_name
adult-fiction                 47201   47201
general-fiction               42699   42699
shelfari-favorites            40355   40355
re-read                       39302   39302
20th-century                  34074   34074
literary-fiction              31758   31758
home-library                  31600   31600
contemporary-fiction          31426   31426
all-time-favorites            30822   30822
read-in-2015                  30437   30437
read-in-2016                  29942   29942
historical-fiction            29506   29506
read-in-2014                  28848   28848
read-in-2013                  27384   27384
audio-books                   26590   26590
did-not-finish                26511   26511
e-book                        26330   26330
non-fiction                   25925   25925
e-books                       25651   25651
to-read-fiction               25413   25413
favorite-books                24333   24333
young-adult                   21791   21791
modern-fiction                21148   21148
audio-book                    20975   20975
read-in-2012                  19876   19876
didn-t-finish                 19438   19438
to-re-read                    17390   17390
american-literature           17019   17019
own-to-read                   16295   16295
classic-literature            15891   15891
...                             ...     ...
spanish-civil-war                75      75
asne-seierstad                   74      74
horror-mystery                   74      74
other-cultures                   74      74
owned-but-not-read-yet           74      74
scary-shit                       74      74
sword-of-truth                   73      73
goodkind-terry                   73      73
sword-of-truth-series            73      73
terry-goodkind                   73      73
the-sword-of-truth               73      73
series-sword-of-truth            73      73
dave-barry                       70      70
peter-and-the-starcatchers       70      70
peter-pan                        70      70
bought-to-read                   68      68
1914-1918                        68      68
recommended-reading              60      60
self-love                        60      60
would-read-again                 60      60
2017-book-list                   60      60
bored-halfway-through            60      60
self-growth                      60      60
owned-by-me                      59      59
my-book-collection               59      59
youth-ministry                   59      59
dc-talk                          59      59
books-i-read-in-2014             59      59
christian-biographies            59      59
church-library                   59      59

[4046 rows x 2 columns]